# Ignore everything
*

# But not Java files...
!.gitignore
!*.java
!README.md
!LICENSE
!gradlew.bat
!gradlew
!build.gradle.kts
!.travis.yml
!settings.gradle
!checkstyle.xml
!.codeclimate.yml
!*.lua
!*.svg
!*.txt
!analysis.md
!profiling/stressTest_1.md
!profiling/stressTest_2.md
!src/main/resourses/logback.xml

# ...even if they are in subdirectories
!*/
